@media (max-width: 768px) {
    .about .col-md-4 {
        text-align: center;
    }
}

.about {
    width: 75%;
    margin: -2.5rem auto 0 auto;

    & h1.header {
        font-weight: 700;
        color: #303030;
        margin-bottom: 1rem;
    }

    & img {
        height: 75%;
        width: auto;
        text-align: center;
    }
}